body {
    margin: 0;
    padding: 0;
}


.navContainer {
    width: 100%;
    height: 120px;
    display: inline-block;
    background-color: black;
    border-bottom: 1px solid rgb(247, 73, 4);
}

.navContainer h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(202, 57, 0);
    text-shadow: 3px 3px 2px rgb(83, 24, 0);
}


.navContainer nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navContainer nav ul li a {
    text-decoration: none;
    margin: 20px
}

.active {
    color: rgb(247, 73, 4)
}

.noActive {
    color: white;
}

.credits {
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 9px;
    z-index: 1;
    text-shadow: 2px 2px 1px rgb(99, 64, 1);
    padding: 5px;
    opacity: .8;
    border-top: 1px solid rgb(255, 255, 255);;
    border-right: 1px solid rgb(255, 255, 255);;
}

.credits :hover {
    opacity: 1;
    transition: 1s;
}

.credits a {
    text-decoration: none;
    color: rgb(255, 166, 0);
}
